.vs/

*.suo

*.user

*.userosscache

*.sln.docstates



bin/

obj/



*.config

app.config

App.config

output.config



*.nupkg

*.nuget.props

*.nuget.targets



*.tmp

*.log

*.cache



Thumbs.db

Desktop.ini
